body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-family: 'Arimo', sans-serif;
  font-weight: bold;
  font-size: 2.9rem;
}

#btn {
  padding: 1rem 2.9rem;
  background-color: black;
  color: #fff;
  text-transform: uppercase;
  border-radius: 10px;
}

#output {
  padding: 1.5rem;
  margin: 2.2rem 2.7rem;
  border: 5px solid black;
  border-radius: 10px;
  line-height: 1.75rem;
  font-size: 1.3rem;
}

img {
  margin-top: 1.5rem;
  box-shadow: 10px 10px 49px 0px rgba(0, 0, 0, 0.49);
  border-radius: 50%;
  max-height: 300px;
  width: 200px;
}
